p{
    background-color: aqua;
}

p1{
    background-color: beige;
}

a{
    background-color: rgb(121, 121, 228);
}

#firstdiv{
    background-color: blue;
    color: blanchedalmond;
}